numpy>=1.26.4,<2
pandas>=2.3.3,<3
fastapi>=0.128.0,<0.129
lightfm>=1.17,<2
uvicorn>=0.40.0,<0.41
scikit-learn>=1.8.0,<2
transformers>=4.57.3,<5
torch>=2.0.0,<3
psycopg2-binary>=2.9.11,<3
huggingface_hub>=0.26.0
mab2rec>=1.3.1,<2
